{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}
  <div class="container">
    {{ content }}
  </div>
{% endblock %}
{% comment %} {% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}
{% block content %} 
  {% comment %} <div class="container banner">
    {% Image image title %}
  </div>  {% endcomment %}
   {% comment %} <div class="container container--text">
    <span class="italic faint">{{ date | formatDate }}</span>
    <h1>{{ title }}</h1>
     {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %}
    {% include 'components/social-share.html' %}

    {{ content }}
    {% endblock %} {% endcomment %
    {% comment %} {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %} 
   </div> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
  {% comment %} <div class="container banner">
    {% Image image title %}
  </div> {% endcomment %}
  