{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}
{% block content %}
  {% comment %} <div class="container banner">
    {% Image image title %}
  </div> {% endcomment %}
  <div class="container container--text">
    <span class="italic faint">{{ date | formatDate }}</span>
    <h1>{{ title }}</h1>
     {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %}
    {% include 'components/social-share.html' %}
    
    {{ content }}

    {% comment %} {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %} {% endcomment %}
  </div>
{% endblock %}
