.wrapper {
  // width: 100%;
  position: relative;

}

.container {
  position: relative;
  margin: auto;
  width: 95%;
  height: 40% auto;


  //I changed the width of nav bar
  // width: $container-width;
  // max-width: $container-max

  // &--text {
  //   max-width: $container-text-max;
  // }
}